# ==============================================
# MTK Policy Rule
# ==============================================

# Date : WK15.49
# Operation : Migration
# Purpose: Trustonic HW-backed Gatekeeper
allow gatekeeperd mobicore:unix_stream_socket connectto;
allow gatekeeperd mobicore_user_device:chr_file { read write ioctl open };
