#============= servicemanager ==============
# 2018/1/6: daniel_hk(danielhk@github.com)
allow servicemanager hal_camera_default:file { open read };
allow servicemanager hal_camera_default:dir { search };
allow servicemanager hal_camera_default:process { getattr };

