#change partition permission
/dev/block/mmcblk0						0660	root	system
/dev/block/mmcblk0boot0						0660	root	system
/dev/block/mmcblk0boot1						0660	root	system
/dev/misc-sd							0660	root	system
#/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/misc2	0660	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/boot	0640	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/recovery	0640	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/secro	0640	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/seccfg	0660	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/proinfo	0660	root	system
#/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/otp	0640	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/nvram	0660	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/para	0660	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/logo	0640	root	system
/dev/block/platform/mtk-msdc.0/11230000.MSDC0/by-name/frp	0660	root	system

# OTP
/dev/otp			0660	system	system

#connectivity
/dev/stpwmt			0660	system	system
/dev/wmtdetect			0660	system	system
/dev/stpbt			0660	bluetooth	net_bt_stack
/dev/stpgps			0660	gps	gps
/dev/stpant			0660	system	system

#wifi
/dev/wmtWifi			0660	system	system

# FMRadio
/dev/fm				0660	media	media

# Trusty driver
/dev/trusty-ipc-dev0		0660	system	keystore

# add the read write permission for ttyUSB*
/dev/bus/usb/*			0660	root	usb
/dev/ttyUSB0			0660	radio	radio
/dev/ttyUSB1			0660	radio	radio
/dev/ttyUSB2			0660	radio	radio
/dev/ttyUSB3			0660	radio	radio
/dev/ttyUSB4			0660	radio	radio

# ccci device
/dev/ccci*			0660	radio	radio
/dev/ttyC*			0660	radio	radio
/sys/kernel/ccci modem_info	0644	radio	radio
/sys/kernel/ccci md1_postfix	0644	radio	radio
/sys/kernel/ccci md2_postfix	0644	radio	radio
/dev/eemcs*			0660	radio	radio
/dev/emd*			0660	radio	radio
/dev/ccci_pcm_rx		0660	media	media
/dev/ccci_pcm_tx		0660	media	media
/dev/ccci_aud			0660	media	media
/dev/ccci2_aud			0660	media	media
/dev/eemcs_aud			0660	media	media
/dev/tfa9897			0660	media	media

# SGX device node
/dev/pvrsrvkm			0666	root	root
/dev/pvr_sync			0666	root	root

# LED device
/sys/devices/platform/leds-mt65xx/leds/green/brightness		0664	system	system
/sys/devices/platform/leds-mt65xx/leds/red/brightness		0664	system	system
/sys/devices/platform/leds-mt65xx/leds/lcd-backlight/brightness 0664	system	system

# GPS
/dev/gps			0660	gps	system

#GPIO
/dev/mtgpio			0600	radio	root

#MTK BTIF driver
/dev/btif			0600	system	system

#FOR VIA MODEM
/dev/ttySDIO*			0660	radio	sdcard_rw
/dev/ttyRB*			0660	radio	radio

# Mali node
/dev/mali			0666	system	graphics

#touch
/dev/touch			0660	root	system
/dev/hotknot			0660	root	system

#hang_detect
/dev/RT_Monitor			0600	system	system
/dev/kick_powerkey		0600	system	system

#MTK In-House TEE
/dev/ttyACM0			0660	radio	radio
